<mat-toolbar color="primary"
             fxLayout="row">
	
	<div fxFlex>
		<a class="link link--logo" routerLink="/">Bravos</a>
	</div>
	

	<div fxFlex fxLayoutAlign="center center">
		<a mat-button
			 routerLink="/voting">
			<mat-icon>equalizer</mat-icon> Голосования
		</a>
		<a mat-button
			 routerLink="/about">
			 <mat-icon>info</mat-icon> О платформе
		</a>
	</div>
	
	<mat-menu #subMenu
						xPosition="before">
						
		<button *ngIf="!isLoggedIn" mat-menu-item (click)="login()">
			<mat-icon>power_settings_new</mat-icon>
			<span>Войти</span>
		</button>

		<button *ngIf="isNotificationsDisabled" mat-menu-item (click)="toggleNotifications()">
			<mat-icon>notifications</mat-icon>
				<span>Вкл. уведомления</span>
		</button>
		<button *ngIf="!isNotificationsDisabled" mat-menu-item (click)="toggleNotifications()">
			<mat-icon>notifications_off</mat-icon>
			<span>Выкл. уведомления</span>
		</button>

		<button *ngIf="isLoggedIn" mat-menu-item (click)="logout()">
				<mat-icon>power_settings_new</mat-icon>
				<span>Выйти</span>
		</button>

	</mat-menu>

	<mat-menu #notificationsMenu
						xPosition="before">
		<ng-container *ngIf="(notifications | async) as notification; else noNotifications">
				{{notification.text}}
		</ng-container>
		<ng-template #noNotifications>
			<div mat-menu-item>No notifications</div>
		</ng-template>
	</mat-menu>
	
	<div fxFlex
			 fxLayoutAlign="end">
		<button *ngIf="!isNotificationsDisabled" 
						mat-icon-button
						[matMenuTriggerFor]="notificationsMenu">
 			<mat-icon>notifications</mat-icon>
		</button>
		<button mat-icon-button
						[matMenuTriggerFor]="subMenu">
			<mat-icon>more_vert</mat-icon>
		</button>
	</div>

</mat-toolbar>
<!--<header>
	<app-navbar></app-navbar>
</header>-->