<form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="login-form" fxLayout fxLayoutAlign="center start">
	<mat-spinner *ngIf="loading"></mat-spinner>
	<mat-card *ngIf="!loading" fxFlex="33%" fxFlex.lt-lg="50%" fxFlex.lt-sm="100%">
		<mat-card-title>
			Авторизация
		</mat-card-title>
		<mat-card-content fxLayout="column">
			<mat-form-field>
				<input type="text" formControlName="username" matInput placeholder="Имя пользователя">
			</mat-form-field>
			<mat-form-field>
				<input type="password" formControlName="password" matInput placeholder="Пароль">
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions fxLayout fxLayoutAlign="end center">
			<button type="submit" mat-raised-button color="primary">Войти</button>
		</mat-card-actions>
	</mat-card>
</form>


