.login{
	padding-top: 8rem;
}

.login-form{
	padding: 20px 25px;
	background-color: #fff;
	border-radius: 5px;
	&__label{
		font-weight: 300;
	}
}



.has-error{
	.help-block{
		margin-top: .25rem;
		font-size: 80%;
		color: #dc3545;
	}
	.form-control{
		border-color: #dc3545;
	}
}