<h1>Blockchain Vote Service</h1>
<form>
	<div>
		<input type="text" placeholder="Enter voting subject name" name="lol" [(ngModel)]="subject">
		<div *ngFor="let answer of answers; let i=index; trackBy:customTrackBy">
			<input type="text" placeholder="Enter answer" [(ngModel)]="answers[i]" [ngModelOptions]="{standalone: true}">
		</div>
		<button (click)="answers.push('')">Add Answer</button>
		<button (click)="answers = ['']">Clear Answers</button>
		<div >
			<button (click)="addSubject()" [disabled]="!canAdd()" >Add Subject</button>
		</div>
	</div>
	<div>create user</div>
	<input type="text" placeholder="Username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
	<input type="text" placeholder="First Name" [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}">
	<input type="text" placeholder="Last Name" [(ngModel)]="user.lastname" [ngModelOptions]="{standalone: true}">
	<input type="text" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
	<button (click)="addUser()" [disabled]="!canAddUser()">Create</button>
</form>
